.whyus {
  padding: 5rem 0 20rem 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;

  &__header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__detail,
  &__list {
    width: 47%;
  }

  &__list {
    p {
      display: flex;
      align-items: center;
    }
  }

  &__cc {
    width: 2rem;
    margin-right: 1.5rem;
  }
}
