@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../../assets/fonts}/Sofia-Pro-Bold.otf") format("otf");
  
}

@font-face {
  font-family: "Sofia Pro Regular";
  src: url("../../assets/fonts}/Sofia-Pro-Regular.otf") format("otf");
}

:root {
  --color-text: #333333;
  --color-white: "#ffffff",
  --color-primary:  #462686;


  --font-bold: "Sofia Pro Bold", sans-serif;
  --font-regular: "Sofia Pro Regular", sans-serif;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-regular);
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
